.title {
  color: black;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 900px;
  padding: 1em;
}

.formButtons {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}
