.title {
  color: black;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  /* max-width: 900px; */
}

.container {
  border: 1px solid yellow;
  width: 900px;
  padding: 1em;
}

.formButtons {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

/* .dateRangeGrid {
  gap: 5px;
} */
