.box {
  max-width: 1080px;
  margin: 0 auto;
}

.actionButtons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.reason {
  max-width: 300px;
  height: auto;
  word-wrap: break-word;
  white-space: normal;
}
